<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- Employee bean injected using property attributes -->
	<bean id="emp" class="com.riyaz.spring.model.Employee" scope="prototype">
		<property name="id" value="100"/>
		<property name="name" value="Riyaz Hamidon"/>
	</bean>
	
	<!-- Hospital bean injected using namespace p and list -->
	<bean id="hospital" class="com.riyaz.spring.model.Hospital" p:name="Hemas Hospitals">
		<property name="departments">
			<list>
				<value>Front Office</value>
				<value>HR</value>
				<value>ER</value>
			</list>
		</property>
	</bean>
	
	<!-- CarDealer bean injected using namespace p and set -->
	<bean id="cardealer" class="com.riyaz.spring.model.CarDealer" p:name="Ferrari">
		<property name="models">
			<set>
				<value>LaFerrari</value>
				<value>458 Italia</value>
				<value>488 GTB</value>
			</set>
		</property>
	</bean>
	
	<!-- Customer bean injected using namespace p and set -->
	<bean id="customer" class="com.riyaz.spring.model.Customer" p:id="1929">
		<property name="products">
			<map>
				<entry key="100" value="iPhone 7" />
				<entry key="105">
					<value>Macbook Pro 13</value>
				</entry>
				<entry value="iPad Air 3">
					<key>
						<value>103</value>
					</key>
				</entry>
				<entry>
					<key>
						<value>120</value>
					</key>
					<value>Morphi Charger</value>
				</entry>
			</map>
		</property>
	</bean>
	
	<!-- CountriesAndLanguages bean injected using namespace p and properties -->
	<bean id="clang" class="com.riyaz.spring.model.CountriesAndLanguages">
		<property name="countryAndLangs">
			<props>
				<prop key="USA">English</prop>
				<prop key="UK">English</prop>
				<prop key="France">French</prop>
				<prop key="Spain">Spanish</prop>
			</props>
		</property>
	</bean>
	
</beans>